body {
  background-color: #DBE9F3;
}


nav {
  display: flex;
  align-items: center;
  flex-direction: row;
}

nav > i {
  padding: 1rem;
  font-size: 2em;
}

nav > ul {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 0 0;
}

nav > ul > li {
  justify-content: space-evenly;
  padding: 0.5rem;
  list-style-type: none;
  display: inline-block;
  text-decoration: none;
  border: 1px solid;
  padding: 0.5rem 0.5rem;
  border-radius: 25px;
}
Header {
  background-color: #4986B2;
}
Footer {
  background-color: #4986B2;
}

textarea > .container {
  border: 2px solid #546866;
  background-color: #546866;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  align-items: center;
}

@media (max-width: 480px){
  nav {
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  nav > i {
    padding: 1rem;
    font-size: 2em;
  }

  nav > ul {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0 0;
  }

  nav > ul > li {
    justify-content: space-evenly;
    padding: 0.5rem;
    list-style-type: none;
    display: inline-block;
    text-decoration: none;
    border: 1px solid;
    padding: 0.5rem 0.5rem;
    border-radius: 25px;
  }
  Header {
    background-color: #4986B2;
  }
  Footer {
    background-color: #4986B2;
  }

  textarea > .container {
    border: 2px solid #546866;
    background-color: #546866;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    align-items: center;
  }


